html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/4873152.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.bcbody {
    margin-bottom: 60px;
    background-image: url('../images/website-background-templates.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
.ctr{
    align-content: center;
    font-size: x-large;
    color: black;
    font-family:Calibri;
    text-align:center;
}

.MyFooter {
    background-color: darkslategray;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: white;
}